:root {
  --text-dark-primary: #000;
  --text-dark-secondary: #1f1f1f;
  --text-dark-1: #5b5b5b;
  --text-dark-2: #8c8c8c;
  --text-light-primary: #fff;
  --text-light-secondary: #ededed;
  --bg-gradient-1: linear-gradient(
    179.95deg,
    #f5f5f5 0.04%,
    rgba(247, 247, 247, 0) 110.66%
  );
  --bg-gradient-2: linear-gradient(90deg, #000000 -35.28%, #303636 101.46%);
}

@font-face {
  font-family: "AdelleSansARA";
  src: url("assets/font/AdelleSansARA-Regular.otf"); /* Regular weight */
  font-weight: normal;
}

@font-face {
  font-family: "AdelleSansARA";
  src: url("assets/font/AdelleSansARA-Semibold.otf"); /* Semibold weight */
  font-weight: 600;
}

@font-face {
  font-family: "AdelleSansARA";
  src: url("assets/font/AdelleSansARA-Bold.otf"); /* Bold weight */
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AdelleSansARA", sans-serif;
  background: var(--bg-gradient-1);
  overflow-x: hidden;

  &:has(.nav-links.show) {
    height: 100dvh;
    overflow-y: hidden;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.btn {
  border-radius: 0.75rem;
  color: #fff;
  font-size: 14px;
  background: var(--bg-gradient-2);
  padding: 14px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  display: flex;
  justify-content: space-between;

  .nav-links {
    position: fixed;
    inset: 0;
    background: var(--bg-gradient-2);
    transform: translate(-100%);
    transition-duration: 0.5s;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      align-items: center;
      left: -100%;

      li {
        a {
          color: var(--text-light-secondary);
          &.active {
            color: var(--text-light-primary);
            font-weight: 600;
          }
        }
      }
    }
    &.show {
      transform: translate(0);
    }
  }

  .btn {
    background: #000;
    min-width: 8.75rem;
    height: fit-content;
    padding: 1rem 0;
    align-self: center;
  }

  .nav-controls {
    display: flex;
    gap: 1rem;

    #menu-btn {
      padding: 1rem 0.8rem;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      z-index: 2;
      background-color: unset;
      border: none;
      display: grid;
      gap: 0.5rem;

      &:hover {
        background-color: #9191911a;
      }

      span {
        display: block;
        width: 33px;
        height: 4px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }
}

main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .details {
    margin-bottom: 2rem;
    text-align: center;
    max-width: 29.5rem;

    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .download-links {
      display: flex;
      gap: 1rem;
      justify-content: center;
      .download-now {
        padding: 0.5rem 1.5rem;
        text-align: start;
      }
    }
  }
}

.features {
  position: relative;
  padding: 1rem 0 1.5rem;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-gradient-2);
  }

  .head {
    color: var(--text-light-primary);
    max-width: 500px;
    margin: 0 auto;
    padding: calc(70px - 1rem) 0 50px;
    text-align: center;

    p {
      font-size: 18px;
      line-height: 28px;
      color: var(--text-light-secondary);
    }
  }

  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .feature {
      background: var(--text-light-primary);
      padding: 2.25rem;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
  }
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  img {
    display: none;
  }

  .detials {
    max-width: 533px;
    align-self: center;
    text-align: center;

    p {
      margin: 1rem 0;
      color: var(--text-dark-1);
      font-size: 18px;
    }

    ul {
      list-style-type: none;
      width: 90%;
      .line {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      li {
        background-image: url("assets/checklist.svg");
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 40px;
        line-height: 2.5rem;
        width: fit-content;
      }
    }
  }
}

.supplier {
  position: relative;
  padding: 1rem 0 1.5rem;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--bg-gradient-2);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .head {
      color: var(--text-light-primary);
      max-width: 500px;
      margin: 0 auto;
      text-align: center;

      p {
        font-size: 18px;
        line-height: 28px;
        color: var(--text-light-secondary);
        margin: 1rem 0;
      }

      .btn {
        background: var(--text-dark-1);
        width: 140px;
        margin: 0 auto;
      }
    }
  }
}

.screens {
  padding: 3rem 0;
  width: 100%;
  overflow: hidden;

  .head {
    text-align: center;

    p {
      color: var(--text-dark-1);
      font-size: 18px;
      line-height: 28px;
      margin: 1rem 0;
    }

    .screens-btns {
      width: fit-content;
      margin: 0 auto 2rem;
      padding: 0.25rem;
      border-radius: 0.75rem;
      background: var(--text-light-primary);
      border: 1px solid #f0f0f0;

      a {
        width: 166px;
        display: inline-block;
        background: var(--text-light-primary);
        color: var(--text-dark-primary);

        &.active {
          background: #000;
          color: var(--text-light-primary);
        }
      }
      a * a {
        margin-block-start: 1rem;
      }
    }
  }

  #swiper {
    height: 556px;

    .swiper-wrapper {
      display: flex;
      justify-content: center;

      .swiper-slide {
        width: 290px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

/* In mid screen */
@media only screen and (min-width: 850px) {
  main {
    flex-direction: row;
    .details {
      text-align: start;
      .download-links {
        justify-content: start;
      }
    }
  }

  .features {
    .container {
      padding: 0 2rem;
    }
    &::after {
      bottom: 7rem;
    }

    .features-container {
      flex-direction: row;
    }
  }
}

/* In large screen */
@media only screen and (min-width: 1000px) {
  nav {
    .nav-links {
      position: relative;
      background: none;
      transform: translate(0);

      ul {
        flex-direction: row;
        gap: 1rem;
        margin: 0;

        li {
          a {
            color: var(--text-dark-1);
            &.active {
              color: var(--text-dark-primary);
            }
          }
        }
      }
    }
    .nav-controls {
      #menu-btn {
        display: none;
      }
    }
  }

  .interface {
    img {
      display: block;
    }
    flex-direction: row;
    .detials {
      text-align: start;
      ul {
        li {
          margin-bottom: 1.2rem;
        }
        .line {
          flex-direction: row;
        }
      }
    }
  }

  .supplier {
    &::after {
      bottom: 9rem;
    }
    .container {
      flex-direction: row;
      padding-top: 0;
      padding-bottom: 0;

      .head {
        padding-top: 5rem;
        margin: 0;
        text-align: justify;
      }
    }
  }
}
